Repository jonathan-mejia-vortex/nest-ddd-template: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, tsc --noEmit --skipLibCheck

.lintstagedrc.json:

{
	"*.{js,ts,json}": [
		"biome format --write --no-errors-on-unmatched",
		"biome check --write --no-errors-on-unmatched"
	],
	"*.ts": ["tsc --noEmit --skipLibCheck"]
}

refactor: eliminar referencias a MS-Auth y hacer servicio genérico
  .env.example
Due: none

refactor: actualizar dependencias y scripts
  package.json
  yarn.lock
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched

docs: agregar changelog completo del refactor
  CHANGELOG_REFACTOR.md
Due: none

fix: corregir tipos y configuración TypeScript
  .lintstagedrc.json
  src/api/api.module.ts
  src/common/dto/response.interceptor.ts
  src/common/types.ts
  src/config/envs.ts
  src/main.ts
  src/shared/infrastructure/persistence/prisma.service.ts
  tsconfig.json
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, tsc --noEmit --skipLibCheck

fix: usar envs.serviceName dinámicamente en logging
  src/shared/infrastructure/logging/pino-logger.service.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, tsc --noEmit --skipLibCheck

docs: eliminar CHANGELOG_REFACTOR.md y actualizar referencias
  CHANGELOG_REFACTOR.md
  README.md
  docs/CONFIGURACION.md
Due: none

refactor: mejorar interceptors siguiendo mejores prácticas NestJS
  src/api/interceptors/correlation-id.interceptor.ts
  src/api/interceptors/logging.interceptor.ts
  src/api/interceptors/metrics.interceptor.ts
  src/api/interceptors/response.interceptor.ts
  src/shared/infrastructure/metrics/cloudwatch-metrics.service.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, tsc --noEmit --skipLibCheck

updated: error handling and responses
  src/common/dto/response.interceptor.ts
  src/modules/auth/domain/exceptions/auth-not-found.exception.ts
  src/modules/auth/domain/exceptions/email-already-exists.exception.ts
  src/modules/auth/domain/exceptions/invalid-credentials.exception.ts
  src/modules/users/domain/exceptions/user-creation-failed.exception.ts
  src/modules/users/domain/exceptions/user-not-found.exception.ts
  src/shared/application/filters/domain-exception.filter.ts
  src/shared/domain/exceptions/domain.exception.ts
  src/shared/domain/exceptions/not-found.exception.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, tsc --noEmit --skipLibCheck

fixed: interceptor for good and bad responses
  src/api/api.module.ts
  src/common/dto/response.interceptor.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, tsc --noEmit --skipLibCheck

updated: exceptions with status and improved error handling
  src/common/dto/response.interceptor.ts
  src/modules/auth/domain/exceptions/auth-not-found.exception.ts
  src/modules/auth/domain/exceptions/email-already-exists.exception.ts
  src/modules/auth/domain/exceptions/invalid-credentials.exception.ts
  src/modules/users/application/use-cases/create-user.use-case.ts
  src/modules/users/domain/exceptions/user-creation-failed.exception.ts
  src/modules/users/domain/exceptions/user-not-found.exception.ts
  src/shared/application/filters/domain-exception.filter.ts
  src/shared/domain/exceptions/domain.exception.ts
  src/shared/domain/exceptions/not-found.exception.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, tsc --noEmit --skipLibCheck

added: unitary test and coverage
  package.json
  src/api/tests/controllers/auth.controller.spec.ts
  src/api/tests/controllers/users.controller.spec.ts
  src/api/tests/guards/idempotency.guard.spec.ts
  src/api/tests/guards/jwt-auth.guard.spec.ts
  src/api/tests/guards/roles.guard.spec.ts
  src/api/tests/interceptors/correlation-id.interceptor.spec.ts
  src/api/tests/interceptors/logging.interceptor.spec.ts
  src/api/tests/interceptors/response.interceptor.spec.ts
  src/modules/auth/tests/application/use-cases/create-auth.use-case.spec.ts
  src/modules/auth/tests/application/use-cases/get-auth-by-id.use-case.spec.ts
  src/modules/auth/tests/application/use-cases/login.use-case.spec.ts
  src/modules/auth/tests/application/use-cases/validate-user.use-case.spec.ts
  src/modules/auth/tests/domain/entities/auth.entity.spec.ts
  src/modules/auth/tests/domain/exceptions/email-already-exists.exception.spec.ts
  src/modules/auth/tests/domain/services/password.service.spec.ts
  src/modules/auth/tests/infrastructure/persistence/prisma/auth.repository.impl.spec.ts
  src/modules/users/tests/application/use-cases/create-user.use-case.spec.ts
  src/modules/users/tests/application/use-cases/get-all-users.use-case.spec.ts
  src/modules/users/tests/application/use-cases/get-user-by-id.use-case.spec.ts
  src/modules/users/tests/application/use-cases/update-user.use-case.spec.ts
  src/modules/users/tests/domain/entities/user.entity.spec.ts
  src/modules/users/tests/domain/exceptions/user-creation-failed.exception.spec.ts
  src/modules/users/tests/infrastructure/persistence/prisma/user.repository.impl.spec.ts
  src/shared/tests/domain/exceptions/not-found.exception.spec.ts
  test/users.e2e-spec.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, tsc --noEmit --skipLibCheck

added: integration tests
  docker-compose.test.yml
  package.json
  src/api/tests/controllers/integration/auth.controller.integration.spec.ts
  src/api/tests/controllers/integration/integration-setup.ts
  src/api/tests/controllers/integration/jest-integration.json
  src/api/tests/controllers/integration/users.controller.integration.spec.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, tsc --noEmit --skipLibCheck
